/* Add a black background color to the top navigation */
.topnav {
  background-color: #0ac2c8f3;
  overflow: hidden;
  /* max-width : 45vh; */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: rgb(15, 103, 235);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #15e0e7;
  color: white;
}
