/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(7, 189, 245);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /*background-color: #ddd;*/
  color: rgb(16, 88, 255);
  font-weight: bold;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #08e0e7;
  color: white;
}
